@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  @apply bg-white dark:bg-gray-800;
}

/* Additional styles */
a {
  @apply border-b-4 border-pink-500 text-pink-500 hover:bg-pink-500 hover:text-white dark:text-cyan-500 dark:hover:text-white dark:hover:bg-cyan-500 dark:border-cyan-500;
}

a:hover {

}

#background-canvas {
  margin: 0;
  padding: 0;
  position: absolute;
  touch-action: none;
  border: none !important;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden !important;
  filter: blur(0px);
}

#Flocking {
  @apply shadow-md dark:border border-gray-600;
}

/** Blog Post */
.markdown {
  pre {
    @apply mb-6;
  }

  p {
    @apply mb-6 leading-9 font-sans text-xl text-gray-800 dark:text-gray-200;
  }

  img {
    margin-bottom: 16px !important;
  }

  ol {
    @apply mb-6 text-xl;
    list-style-type: lower-greek;

    li {
      @apply tracking-normal ml-5 mb-2 pl-2;
    }
  }

  ul {
    @apply mb-6 text-xl;
    list-style-type: circle;

    li {
      @apply tracking-normal ml-5 mb-2 pl-2;
    }
  }

  h2 {
    @apply font-black text-3xl mb-3;
  }

  h3 {
    @apply font-black text-2xl mb-3 pb-2;
  }
}

#simulator {
  width: 100% !important;
}

#blog-post ol li {
  list-style-type: lower-alpha;
  @apply ml-4 pl-5;
}

#blog-post ul li {
  list-style-type: circle;
  @apply ml-4 pl-5;
}

/* Showflake */
@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }
  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0%, 100% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(80px)
  }
}

.snowflake {
  position: absolute;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s
}
