@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  @apply bg-white dark:bg-gray-800;
}

/* Additional styles */
a {
  @apply border-b-4 border-pink-500 text-pink-500 hover:bg-pink-500 hover:text-white dark:text-cyan-500 dark:hover:text-white dark:hover:bg-cyan-500 dark:border-cyan-500;
}

a:hover {

}

#background-canvas {
  margin: 0;
  padding: 0;
  position: absolute;
  touch-action: none;
  border: none !important;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden !important;
  filter: blur(0px);
}

#Flocking {
  @apply shadow-md dark:border border-gray-600;
}

/** Blog Post */
.markdown {
  pre {
    @apply mb-6;
  }

  p {
    @apply mb-6 leading-9 font-sans text-xl text-gray-800 dark:text-gray-200;
  }

  img {
    margin-bottom: 16px !important;
  }

  ol {
    @apply mb-6 text-xl;
    list-style-type: lower-greek;

    li {
      @apply tracking-normal ml-5 mb-2 pl-2;
    }
  }

  ul {
    @apply mb-6 text-xl;
    list-style-type: circle;

    li {
      @apply tracking-normal ml-5 mb-2 pl-2;
    }
  }

  h2 {
    @apply font-black text-3xl mb-3;
  }

  h3 {
    @apply font-black text-2xl mb-3 pb-2;
  }
}

#simulator {
  width: 100% !important;
}

#blog-post ol li {
  list-style-type: lower-alpha;
  @apply ml-4 pl-5;
}

#blog-post ul li {
  list-style-type: circle;
  @apply ml-4 pl-5;
}